.swiper-button-next {
  right: 0 !important;
  &:after {
    font-size: 3vh;
  }
}

.swiper-button-prev {
  left: 0 !important;
  &:after {
    font-size: 3vh;
  }
}

.swiper-pagination {
  top: 30% !important;
  right: 0 !important;
}
