@tailwind base;
@tailwind components;
@font-face {
  font-family: GodoM;
  src: url('./assets/fonts/GodoM.woff2') format('woff2'),
    url('./assets/fonts/GodoM.woff') format('woff'),
    url('./assets/fonts/GodoM.ttf') format('truetype');
}
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full w-full overflow-hidden leading-normal;
  }
  html {
    font-family: GodoM, sans-serif;
  }
  body {
    @apply bg-fixed bg-gradient-to-t from-[#1C2837] to-[#050608] text-primary;
  }
}
